@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Viga&display=swap');
.table-detail {
  margin: 120px 10px 0 10px;
  border: 1px solid black;
  align-items: flex-start;
  width: 80%;
  font-family: Source Sans Pro;
}

.poster-detail {
  width: 250px;
  height: 400px;
}

.judul-utama {
  margin: 10px;
  font-size: 30px;
}

.table-detail .row {
  border-bottom: 1px solid black;
  margin-left: 0.01px;
}

.col-md-4 {
  width: 250px;
  margin-right: 10px;
}

.col-md-2,
.col-md-1 {
  padding: 20px 0 0 0;
}

.col-md-1 {
  width: 20px;
}

.col-md-2 {
  width: 700px;
}

.nama-kolom {
  width: 100px;
}

.back {
  display: inline-block;
  font-weight: 400;
  font-family: Source Sans Pro;
  height: 40px;
  width: 125px;
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-user-select: none;
  user-select: none;
  border-color: rgba(255, 0, 0, 0.7);
  background-color: rgba(255, 0, 0, 0.7);
  margin: 20px 0 0 10px;
}

.back:hover {
  border-color: rgba(255, 0, 0, 0.7);
  background-color: transparent;
  color: rgba(255, 0, 0, 0.7);
}